@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.font-size-normal{
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}
.font-sm-normal{
    font-size: 1rem/* 20px */;
    line-height: 1.5rem/* 28px */;
}

.texto{
    text-align: center;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    margin: 4rem 0;
}

